# Do not remove this line, otherwise mod_rewrite rules will stop working
RewriteBase /
redirect 410 /shop.php<FilesMatch "sitemap\.xml">	Header set X-Robots-Tag "noindex"</FilesMatch><FilesMatch "robots\.txt">	Header set X-Robots-Tag "noindex"</FilesMatch>