/* colour pallette
	brown:		453727
	green:		9BC3BB
	beige:		E0D8D2
	light pink:	F0AF99
	dark pink:	F12643 */

html { 
	overflow-y: scroll;
}
body {
	margin:0;
	padding:0;
	background: #E0D8D2;
	font-family: "Aliquam", "Arial", sans-serif;
	font-size: 17px;
	letter-spacing: 1.5px;
	color: #918C88;
}
.container {
	width: 900px;
	margin: 20px auto;
	background: white;
	padding: 15px;
}

/* common styles */
a,.show {
	text-decoration: none;
	color: #F0AF99;
}
a:hover,.footer a:hover,.show:hover {
	color: #F12643;
}
a img {
	border: none;
}
p {
	margin: 0 0 15px 0;
	line-height: 150%;
}
small {
	font-size: 70%;
}
sup {
	position: relative;
	top: 2px;
}
.title {
	font-family: "Courier", monospace;
	color: #453727;
	font-size: 35px;
	margin-top: -5px;
	text-transform: lowercase;
	background: white;
	display: inline-block;
	padding-right: 10px;
}
.line {
	background: #453727;
	width: 100%;
	height: 1px;
	margin-top: -18px;
	margin-bottom: 20px;
}
.half {
	width: 48%;
	float: left;
}
.half:nth-child(2n) {
	float: right;
}
.subtitle {
	font-size: 20px;
	color: #9BC3BB;
	margin-bottom: 5px;
}
.pictureBox  img {
	width: 213px;
	margin: 0 16px 15px 0;
	display: block;
	float: left;
}
.quote {
	width: 500px;
	margin: 20px auto 25px auto;
	text-align: center;
	font-style: italic;
	position: relative;
	line-height: 130%;
}
.quote .pull {
	position: absolute;
	font-size: 500%;
	font-family: "Times New Roman",serif;
	font-style: normal;
	color: #9BC3BB;
	height: 19px;
	margin-top: -15px;
	line-height: 100%;
}
.quote .pull.open {
	right: 100%;
	top:0;
}
.quote .pull.close {
	left: 100%;
	bottom: 35px;
}
.quote .citation {
	font-size: 14px;
	text-align: right;
	margin-top: 5px;
	font-style: normal;
}
.button {
	display: block;
	background: #9BC3BB;
	padding: 3px 7px;
	cursor: pointer;
	overflow: hidden;
}
.button,.button a {
	color: #453727;
}
.button:hover {
	background: #F0AF99;
}

/* styles for template */
.header {
	cursor: default;
	margin-bottom: 15px;
	text-transform: lowercase;
}
.header .nav {
	background: #453727;
	height: 40px;
}
.header .nav,.header .nav a {
	color: white;
}
.header .nav .link-container {
	line-height: 20px;
	font-size: 14.5px;
	float: left;
	position: relative;
	left: 50%;
}
.header .nav-links {
	margin: 0;
	padding: 0;
	margin-left: -50%;
	list-style: none;
}
.header .nav-links li {
	float: left;
}
.header .nav-links li a {
	padding: 0 15px 10px 15px;
	margin-top: 10px;
	display: block;
}
.header .nav-links li a:hover {
	background: #9BC3BB;
	cursor: pointer;
	padding-top: 5px;
}
.header .nav-links li.active a {
	border-bottom: 5px solid #F0AF99;
	padding-bottom: 5px;
}
.logo {
	display: block;
	background: #9BC3BB;
	padding: 15px;
}
.footer {
	text-align: center;
	font-size: 13px;
	clear: both;
	margin-top: 10px;
}
.footer a {
	color: #918C88;
}

/* styles for news and twitter */
.news {
	margin-bottom: 15px;
}
.news .details {
	margin-bottom: 5px;
	color: #453727;
}
.news .description {
	margin-bottom: 5px;
	line-height: 150%;
}
.tweet {
	margin-bottom: 15px;
}
.tweet .words {
	font-size: 20.5px; /* 20px makes the dot on the "i" too close to the stem when using Aliquam */
	letter-spacing: 1.8px;
	margin-bottom: 5px;
	color: gray;
}
.tweet .words a {
	color: #9BC3BB;
}
.tweet .words a:hover {
	color: #F0AF99;
}
.tweet .time {
	letter-spacing: 0.5px;
}

/* styles for gallery */
#homeSlide {
	height: 500px;
	overflow: hidden;
	margin-bottom: 15px;
}
#gallerySlide {
	width: 900px;
	height: 500px;
	margin: 25px 0 25px 0;
	overflow: hidden;
	position: relative;
}
#gallerySlide .slide img {
	max-width: 900px;
	max-height: 500px;
}
#gallerySlide .slide  {
	position: relative;
}
.rotatedInfo {
	font-size: 19px;
	position: absolute;
	-moz-transform: rotate(-90deg);                 
    -o-transform: rotate(-90deg);                   
    -webkit-transform: rotate(-90deg);              
    -ms-transform: rotate(-90deg) !important;       
	transform: rotate(-90deg);                      
	white-space: nowrap;
	display: none;
	margin: 0 0 -20px -25px;
}
.rotatedInfo .details {
	font-size: 70%;
	color: #C0C0C0;
	margin: 0 0 3px 1px;
}
.thumbnails {
	width: 930px;
	margin: 0 0 15px -15px;
	background: #E7F1F0;
	padding: 15px 0 8px 0;
	overflow: auto;
}
.thumbnails .pager,.thumbnails .side {
	float: left;
}
.thumbnails .pager {
	width: 819px;
}
.thumbnails .pager .thumb {
	width: 110px;
	height: 110px;
	overflow: hidden;
	margin: 0 7px 7px 0;
	float: left;
}
.thumbnails .pager .thumb.link {
	cursor: pointer;
}
.thumbnails .pager .thumb.link.activeSlide {
	border-bottom: 7px solid #F0AF99;
	height: 103px;
}
.thumbnails .pager .thumb.link.activeSlide:hover {
	height: 110px;
	margin-bottom:0;
}
.thumbnails .pager .thumb.link:hover img {
	margin-top: 7px;
}
.thumbnails .pager .thumb img {
	width: 110px;
	height: 110px;
}
.thumbnails .side .thumb {
	width: 52px;
	height: 110px;
	background: red;
	margin-bottom: 7px;
}
.thumbnails .side.left {
	margin-right: 7px;
}
.pictureBox {
	width: 936px;
	margin-right: -16px;
	overflow: auto;
}
.arrow {
	position: absolute;
	width: 41px;
	height: 63px;
	cursor: pointer;
	top: 218px;
	display: none;
}
.arrow.prev {
	background: url("images/prev.png");
	background-position: right;
}
.arrow.next {
	background: url("images/next.png");
	background-position: left;
}
.arrow.prev:hover {
	background-position: left;
}
.arrow.next:hover {
	background-position: right;
}

/* styles for blog */
.title.blog {
	margin-left: 100px;
	padding-left: 5px;
	margin-top:10px;
}
.subtitle.blog {
	color: #453727;
	font-size: 15px;
	text-align: center;
	margin-top: -5px;
	text-transform: lowercase;
}
.post {
	margin-bottom: 15px;
}	
.post .divider {
	border-bottom: 1px dotted #453727;
	width: 80%;
	margin: 30px auto;
}
.post .content {
	margin: 10px 0 -10px 0;
	text-align: justify;
	line-height: 150%;
}
.post .content div a img {
	display: block;
	border: 10px solid white;
	box-shadow: 0 0 20px #ABABAB;
	margin: -10px auto;
	max-width: 100% !important;
}
.post .date {
	color: gray;
	font-size: 13px;
	margin-bottom: 15px;
}
.post .info {
	color: #453727;
	font-size: 13px;
	margin: 22px 0 5px 0;
}
.comments {
	margin-top: 10px;
}
.comments .count {
	color: #453727;
}
.comment {
	border-left: 2px solid #453727;
	padding-left: 15px;
	margin: 15px 10px 0 10px;
	font-size: 13px;
	display: none;
	line-height: 16px;
}
.comment .info::before {
	display: inline-block;
	width: 16px;
	height: 16px;
	content: url("images/pencil.png");
	margin-right: 10px;
	position: relative;
	top: 3px;
}
.twoThirds {
	width: 600px;
	margin: 0 auto;
}
.more {
	font-size: 90%;
	text-align: center;
	position: relative;
	left: -16px;
	clear: both;
}
.more.inline {
	left: 0;
	display: inline-block;
	margin-left: 10px;
}
.more::before {
	display: inline-block;
	width: 16px;
	height: 9px;
	background: url("images/arrow.png");
	margin-right: 15px;
	position: relative;
	top: -1px;
	content: "";
}
.more.rss::before {
	background: url("images/rss.png");
	height: 16px;
	top: 3px;
}
.show {
	cursor: pointer;
}

/* styles for prints page */
.print {
	float: left;
	width: 400px;
	height: 400px;
	margin: 25px 20px 25px 30px;
}
.print:nth-child(2n-1) {
	clear: both;
}
.print img {
	display: block;
	width: 100%;
	height: 100%;
}
.print .rotatedInfo {
	margin: 0 0 -10px -15px;
}
.print .holder {
	position: relative;
}
.prints {
	margin-top: -15px;
	overflow: auto;
}
.print .button {
	position: absolute;
	text-align: center;
	bottom: 15px;
	right: 15px;
	letter-spacing: 0.5px;
}
.print .button .price {
	display: none;
	position: relative;
	/*top: 0.5px;*/
	font-size: 90%;
}
.print .button:hover .price {
	display: inline;
}
.print .button:hover .buy {
	display: none;
}